<!DOCTYPE HTML>
<html lang="ko" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: config"/>
<body class="d-flex flex-column h-100">
<header th:replace="fragments/mainHeader :: mainHeader"/>
<main class="flex-shrink-0">
    <div class="container h-100">
        <div class="row h-100 mt-5">
            <div class="col-5 mx-auto">
                <div class="main-logo mb-3">
                    <img src="img/mainimg.jpg" class="img-fluid" alt="...">
                </div>
                <form action="/loginProc" method="post">
                    <div class="mb-3">
                        <label th:for="username" class="form-label fw-bold">아이디</label>
                        <input type="text" name="username" class="form-control" placeholder="아이디" required="required"/>
                    </div>
                    <div class="mb-3">
                        <label th:for="password" class="form-label fw-bold">패스워드</label>
                        <input type="password" name="password" class="form-control" placeholder="패스워드" required="required"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </div>
                    <span th:if="${error}">
                        <p id="valid" class="alert alert-danger" th:text="${exception}"></p>
                    </span>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">로그인</button>
                </form>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>