<!DOCTYPE HTML>
<html lang="ko" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: config"/>
<body class="d-flex flex-column h-100">
<header th:replace="fragments/loginHeader :: loginHeader(${member.getName()}, ${member.getRole().name()})"></header>
<main class="flex-shrink-0">
    <div class="main-wrap h-100 mt-3">
        <div>
            <h2>배달 등록하기</h2>
            <div class="row justify-content-start mb-2">
                <div class="col-2 btn-group">
                    <button type="button" class="btn btn-outline-dark" th:onclick="|location.href='@{/deliveries}'|">목록으로</button>
                </div>
            </div>
        </div>
        <table class="table text-center">
            <thead>
            <tr>
                <th width="8%">배송일자</th>
                <th width="5%">배송시간</th>
                <th width="14%">주소</th>
                <th width="5%">받는분</th>
                <th width="9%">받는분 전화</th>
                <th width="5%">상품명</th>
                <th width="14%">리본문구</th>
                <th width="5%">발주업체</th>
                <th width="9%">발주업체전화</th>
                <th width="9%">배송업체</th>
                <th width="5%">배송비(원)</th>
                <th width="5%">배차번호</th>
                <th width="7%">처리</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tbl-cont" th:object="${deliveryDto}">
                <td>
                    <input type="date" th:field="*{date}" class="form-control">
                </td>
                <td>
                    <input type="text" th:field="*{time}" class="form-control">
                </td>
                <td>
                    <input type="text" th:field="*{address}" class="form-control" onblur="getFee(this)">
                </td>
                <td>
                    <input type="text" th:field="*{toName}" class="form-control">
                </td>
                <td>
                    <input type="text" th:field="*{toTel}" class="form-control">
                </td>
                <td>
                    <input type="text" th:field="*{itemName}" class="form-control">
                </td>
                <td>
                    <input type="text" th:field="*{memo}" class="form-control">
                </td>
                <td>
                    <input type="text" th:field="*{orderCompanyName}" class="form-control" onblur="getTel(this)">
                </td>
                <td>
                    <input type="text" th:field="*{orderCompanyTel}" class="form-control">
                </td>
                <td>
                    <select th:field="*{deliveryCompanyDto}" class="form-select" th:if="${deliveryCompanies.size() != 0}" onchange="getFee(this)">
                        <option th:each="deliveryCompany : ${deliveryCompanies}"
                                th:value="${deliveryCompany.getId()}"
                                th:text="${deliveryCompany.getName()}">
                        </option>
                    </select>
                    <input th:filed="*{deliveryCompanyDto}" class="form-control" th:unless="${deliveryCompanies.size() != 0}">
                </td>
                <td>
                    <input type="text" th:field="*{price}" class="form-control">
                </td>
                <td>
                    <input type="text" th:field="*{dispatchNo}" class="form-control">
                </td>
                <td>
                    <input type="button" class="btn btn-success plusDelivery" value="추가" onclick="plusBoard(this)">
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row justify-content-center">
            <div class="col-1 btn-group">
                <button type="submit" class="btn btn-outline-primary register">등록하기</button>
            </div>
        </div>
        <script th:inline="javascript">
            $(".register").click(function () {
                let html = $(".tbl-cont");
                let jsonArray = [];
                for (const htmlElement of html) {
                    let obj = {};
                    obj.date = $(htmlElement).find("input[name=date]").val();
                    obj.time = $(htmlElement).find("input[name=time]").val();
                    obj.address = $(htmlElement).find("input[name=address]").val();
                    obj.toName = $(htmlElement).find("input[name=toName]").val();
                    obj.toTel = $(htmlElement).find("input[name=toTel]").val();
                    obj.itemName = $(htmlElement).find("input[name=itemName]").val();
                    obj.memo = $(htmlElement).find("input[name=memo]").val();
                    obj.orderCompanyName = $(htmlElement).find("input[name=orderCompanyName]").val();
                    obj.orderCompanyTel = $(htmlElement).find("input[name=orderCompanyTel]").val();
                    obj.deliveryCompanyDto = {
                        id: $(htmlElement).find("select[name=deliveryCompanyDto]").val(),
                        name: $(htmlElement).find("select[name=deliveryCompanyDto]").html()
                    }
                    obj.price = $(htmlElement).find("input[name=price]").val();
                    obj.dispatchNo = $(htmlElement).find("input[name=dispatchNo]").val();
                    jsonArray.push(obj);
                }
                let msg = JSON.stringify(jsonArray);
                let callback = function (data) {
                    if (data.resultCode == "0000") {
                        alert(data.resultMessage);
                        location.href = "/deliveries";
                    } else {
                        alert(data.resultMessage);
                    }
                }
                doPost("/deliveries/new", msg, callback);
            });
            function plusBoard(obj)  {
                let date = $(obj).parent("td").parent("tr").find("input[name=date]").val();
                let deliveryCompany = $(obj).parent("td").parent("tr").find("select[name=deliveryCompanyDto]").html();
                let html = "<tr class='tbl-cont'>";
                html += "<td><input type='date' id='date' name='date' class='form-control' value='" + date + "'></td>";
                html += "<td><input type='text' id='time' name='time' class='form-control'></td>";
                html += "<td><input type='text' id='address' name='address' class='form-control' onblur='getFee(this)'></td>";
                html += "<td><input type='text' id='toName' name='toName' class='form-control'></td>";
                html += "<td><input type='text' id='toTel' name='toTel' class='form-control'></td>";
                html += "<td><input type='text' id='itemName' name='itemName' class='form-control'></td>";
                html += "<td><input type='text' id='memo' name='memo' class='form-control'></td>";
                html += "<td><input type='text' id='orderCompanyName' name='orderCompanyName' class='form-control' onblur='getTel(this)'></td>";
                html += "<td><input type='text' id='orderCompanyTel' name='orderCompanyTel' class='form-control'></td>";
                html += "<td><select class='form-select' id='deliveryCompanyDto' name='deliveryCompanyDto' onchange='getFee(this)'>" + deliveryCompany + "</select></td>";
                html += "<td><input type='text' id='price' name='price' class='form-control'></td>";
                html += "<td><input type='text' id='dispatchNo' name='dispatchNo' class='form-control'></td>";
                html += "<td><input type='button' class='btn btn-success plusDelivery' value='추가' onclick='plusBoard(this)'></td>";
                html += "</tr>";
                $(obj).parent("td").html("<input type='button' class='btn btn-danger' value='삭제' onclick='deleteBoard(this)'>");
                $('tbody').append(html);
            }
            function deleteBoard(obj) {
                $(obj).parent("td").parent("tr").remove();
            }
            function getFee(obj) {
                let address = $(obj).parent("td").parent("tr").find("#address").val();
                let deliveryCompanyId = $(obj).parent("td").parent("tr").find("#deliveryCompanyDto").val();

                // 주소가 입력되지 않은 경우
                if (address === "") {
                    $(obj).parent("td").parent("tr").find("#price").val("0");
                    return false;
                }
                let json = {
                    address: address,
                    id: deliveryCompanyId
                }
                let msg = JSON.stringify(json);
                let callback = function (data) {
                    if (data.resultCode == "0000") {
                        let price = data.data.price;
                        $(obj).parent("td").parent("tr").find("#price").val(price);
                    } else {
                        alert(data.resultMessage);
                    }
                }
                doPost("/deliveries/getFee", msg, callback);
            }
            function getTel(obj) {
                let name = $(obj).parent("td").parent("tr").find("#orderCompanyName").val();
                // 발주업체가 입력되지 않은 경우
                if (name === "") {
                    return false;
                }
                let json = {
                    name: name
                }
                let msg = JSON.stringify(json);
                let callback = function (data) {
                    if (data.resultCode == "0000") {
                        let tel = data.data.tel;
                        $(obj).parent("td").parent("tr").find("#orderCompanyTel").val(tel);
                    } else {
                        alert(data.resultMessage);
                    }
                }
                doPost("/deliveries/getTel", msg, callback);
            }
        </script>
    </div>
</main>
</body>
</html>