<!DOCTYPE HTML>
<html lang="ko" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: config"></head>
<body class="d-flex flex-column h-100">
<header th:replace="fragments/loginHeader :: loginHeader(${member.getName()}, ${member.getRole().name()})"></header>
<main class="flex-shrink-0">
    <div class="main-wrap h-100 mt-3">
        <div>
            <h2>배달 리스트</h2>
            <form th:object="${deliverySearch}" class="row justify-content-center mb-2 fs-5">
                <div class="col-2 mx-sm-1 mb-2">
                    <select th:field="*{deliveryStatus}" class="form-select" style="font-size:16px !important;">
                        <option value="">전체</option>
                        <option th:each="status : ${T(com.kirinit.service.flower.delivery.entity.DeliveryStatus).values()}"
                                th:value="${status}"
                                th:text="${status.getKrName()}">option
                        </option>
                    </select>
                </div>
                <div class="col-4 mx-sm-1 mb-2">
                    <div class="row">
                        <div class="col-5">
                            <input th:field="*{startDate}" type="date" class="form-control col-4">
                        </div>
                        <span class="col-1 fw-bold">-</span>
                        <div class="col-5">
                            <input th:field="*{endDate}" type="date" class="form-control col-4">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary mb-2 col-4">검색</button>
                </div>
            </form>
            <div class="row justify-content-center mb-2">
                <div class="col-4 btn-group">
                    <button type="button" class="btn btn-outline-info" onclick="goDelivery('beforeYesterday')">그저께</button>
                    <button type="button" class="btn btn-outline-info" onclick="goDelivery('yesterday')">어제</button>
                    <button type="button" class="btn btn-outline-info" onclick="goDelivery('today')">오늘</button>
                    <button type="button" class="btn btn-outline-info" onclick="goDelivery('tomorrow')">내일</button>
                    <button type="button" class="btn btn-outline-info" onclick="goDelivery('afterTomorrow')">모레</button>
                </div>
                <div class="col-3 btn-group">
                    <button type="button" class="btn btn-outline-success" onclick="excelDown('delivery-table')">엑셀다운로드</button>
                    <label for="excel" class="btn btn-outline-warning">엑셀업로드</label>
                    <input type="file" class="form-control" id="excel" onchange="excelUp(event)"/>
                    <button type="button" class="btn btn-outline-primary" onclick="goMap()">지도보기</button>
                </div>
                <div class="col-2 btn-group">
                    <button type="button" class="btn btn-dark" th:onclick="|location.href='@{deliveries/new}'|">등록하기</button>
                </div>
            </div>
        </div>
        <table class="table text-center" id="delivery-table">
            <thead>
                <tr>
                    <th width="3%">순번</th>
                    <th width="6%">배송일자</th>
                    <th width="5%">배송시간</th>
                    <th width="13%">주소</th>
                    <th width="5%">받는분</th>
                    <th width="8%">받는분 전화</th>
                    <th width="5%">상품명</th>
                    <th width="13%">리본문구</th>
                    <th width="5%">발주업체</th>
                    <th width="8%">발주업체전화</th>
                    <th width="7%">배송업체</th>
                    <th width="5%">배송비(원)</th>
                    <th width="3%">배차번호</th>
                    <th width="10%">처리</th>
                    <th width="4%">인수증</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tbl-cont" th:style="'background-color:' + ${delivery.color} + ';'" th:each="delivery : ${deliveries}">
                    <td class="no" th:id="${delivery.id}" th:text="${delivery.no}"></td>
                    <td class="date" th:text="${delivery.date}"></td>
                    <td class="time" th:text="${delivery.time}"></td>
                    <td class="address" th:text="${delivery.address}"></td>
                    <td class="toName" th:text="${delivery.toName}"></td>
                    <td class="toTel" th:text="${delivery.toTel}"></td>
                    <td class="itemName" th:text="${delivery.itemName}"></td>
                    <td class="memo" th:text="${delivery.memo}"></td>
                    <td class="orderCompanyName" th:text="${delivery.orderCompanyName}"></td>
                    <td class="orderCompanyTel" th:text="${delivery.orderCompanyTel}"></td>
                    <td class="deliveryCompanyName" th:text="${delivery.deliveryCompanyName}"></td>
                    <td class="price" th:text="${delivery.price}"></td>
                    <td class="dispatchNo" th:text="${delivery.dispatchNo}"></td>
                    <td class="process">
                        <input type="button" class="btn btn-primary" value="수정" onclick="updateBoard(this)">
                        <input th:if="${delivery.status.getKrName().equals('미배차')}" type="button" class="btn btn-warning" value="배차" onclick="checkBoard(this)">
                        <input th:if="${delivery.status.getKrName().equals('배차')}" type="button" class="btn btn-warning" value="인수체크" onclick="checkBoard(this)">
                        <input th:if="${delivery.status.getKrName().equals('인수체크')}" type="button" class="btn btn-warning" value="미배차" onclick="checkBoard(this)">

                    </td>
                    <td><input type="button" class="btn btn-info receipt" value="인쇄" onclick="receipt(this)"></td>
                </tr>
            </tbody>
        </table>
        <select id="deliveryCompanies" name="deliveryCompanies" class="form-select" onchange="getFee(this)" hidden>
            <option th:each="dc : ${deliveryCompanies}"
                    th:value="${dc.getId()}"
                    th:text="${dc.getName()}"></option>
        </select>
        <script th:inline="javascript">
            $(function () {
                var startDate = $("#startDate").val();
                var endDate = $("#endDate").val();
                // 날짜 확인
                if (endDate === "" && startDate === "") {
                    startDate = new Date().yyyyMMdd();
                    endDate = new Date().yyyyMMdd();
                }
                $("#startDate").val(startDate);
                $("#endDate").val(endDate);
            })
            // 현재 일자 변환
            Date.prototype.yyyyMMdd = function() {
                var mm = this.getMonth() + 1;
                var dd = this.getDate();

                return [this.getFullYear(),
                    '-',
                    (mm>9? '': '0')+ mm,
                    '-',
                    (dd>9? '': '0')+ dd].join('');
            }
            function goDelivery(type) {
                switch (type) {
                    case "beforeYesterday":
                        var startDate = new Date(new Date().getTime() - 1000 * 60 * 60 * 24 * 2).yyyyMMdd();
                        var endDate = new Date(new Date().getTime() - 1000 * 60 * 60 * 24 * 2).yyyyMMdd();
                        location.href = "/deliveries?deliveryStatus=&startDate=" + startDate + "&endDate=" + endDate;
                        break;
                    case "yesterday":
                        var startDate = new Date(new Date().getTime() - 1000 * 60 * 60 * 24).yyyyMMdd();
                        var endDate = new Date(new Date().getTime() - 1000 * 60 * 60 * 24).yyyyMMdd();
                        location.href = "/deliveries?deliveryStatus=&startDate=" + startDate + "&endDate=" + endDate;
                        break;
                    case "today":
                        location.href = "/deliveries";
                        break;
                    case "tomorrow":
                        var startDate = new Date(new Date().getTime() + 1000 * 60 * 60 * 24).yyyyMMdd();
                        var endDate = new Date(new Date().getTime() + 1000 * 60 * 60 * 24).yyyyMMdd();
                        location.href = "/deliveries?deliveryStatus=&startDate=" + startDate + "&endDate=" + endDate;
                        break;
                    case "afterTomorrow":
                        var startDate = new Date(new Date().getTime() + 1000 * 60 * 60 * 24 * 2).yyyyMMdd();
                        var endDate = new Date(new Date().getTime() + 1000 * 60 * 60 * 24 * 2).yyyyMMdd();
                        location.href = "/deliveries?deliveryStatus=&startDate=" + startDate + "&endDate=" + endDate;
                        break;
                }
            }
            function checkBoard(obj) {
                let type = $(obj).val();
                let tr = $(obj).parent("td").parent("tr");
                let id = $(obj).parent("td").parent("tr").find(".no").prop("id");
                let deliveryCompanyName = $(obj).parent("td").parent("tr").find(".deliveryCompanyName").html();
                let object = {};
                object.id = id;
                object.deliveryCompanyName = deliveryCompanyName;
                switch (type) {
                    case "배차":
                        // 미배차 -> 배차
                        object.status = "COM";
                        break;
                    case "인수체크":
                        // 배차 -> 인수체크
                        object.status = "CHECK";
                        break;
                    case "미배차":
                        // 인수체크 -> 미배차
                        object.status = "READY";
                        break;
                }
                let callback = function (data) {
                    if (data.resultCode === "0000") {
                        // 배차처리 일때만 tr 색상 변경
                        if (object.status === "COM") {
                            tr.css("background", data.data.color);
                            $(obj).val("인수체크");
                        } else if (object.status === "CHECK") {
                            tr.css("background", "#808080");
                            $(obj).val("미배차");
                        } else if (object.status === "READY") {
                            tr.css("background", "#FFFFFF");
                            $(obj).val("배차");
                        }
                    } else {
                        alert(data.resultMessage);
                    }
                }
                doPost("/deliveries/status", object, callback);
            }
            function updateBoard(obj)  {
                let date = $(obj).parent("td").parent("tr").find(".date").html();
                let time = $(obj).parent("td").parent("tr").find(".time").html();
                let address = $(obj).parent("td").parent("tr").find(".address").html();
                let toName = $(obj).parent("td").parent("tr").find(".toName").html();
                let toTel = $(obj).parent("td").parent("tr").find(".toTel").html();
                let itemName = $(obj).parent("td").parent("tr").find(".itemName").html();
                let memo = $(obj).parent("td").parent("tr").find(".memo").html();
                let orderCompanyName = $(obj).parent("td").parent("tr").find(".orderCompanyName").html();
                let orderCompanyTel = $(obj).parent("td").parent("tr").find(".orderCompanyTel").html();
                let deliveryCompanyName = $(obj).parent("td").parent("tr").find(".deliveryCompanyName").html();
                let price = $(obj).parent("td").parent("tr").find(".price").html();
                let dispatchNo = $(obj).parent("td").parent("tr").find(".dispatchNo").html();
                let deliveryCompanies = $("#deliveryCompanies option");
                let deliveryCompanyVal = $("#deliveryCompanies").val();
                if (deliveryCompanyVal) {
                    let select = "<select id='deliveryCompanies' name='deliveryCompanies' class='form-select' onchange='getFee(this)'>";
                    for (const deliveryCompany of deliveryCompanies) {
                        if ($(deliveryCompany).html() === deliveryCompanyName) {
                            select += "<option value='" + $(deliveryCompany).val() + "' selected>" + $(deliveryCompany).html() + "</option>";
                        } else {
                            select += "<option value='" + $(deliveryCompany).val() + "'>" + $(deliveryCompany).html() + "</option>";
                        }
                    }
                    select += "</select>";
                    deliveryCompanies = select;
                } else {
                    deliveryCompanies = "<input type='text' id='deliveryCompanies' name='deliveryCompanyName' class='form-control' value='" + deliveryCompanyName + "'>"
                }

                $(obj).parent("td").parent("tr").parent("tbody").find(".tbl-cont.on").find(".process").html("<input type='button' class='btn btn-danger' value='삭제' onclick='deleteBoard(this)'>");
                $(obj).parent("td").parent("tr").addClass("on");
                $(obj).parent("td").parent("tr").find(".date").html("<input type='date' id='date' name='date' class='form-control' value='" + date + "'>");
                $(obj).parent("td").parent("tr").find(".time").html("<input type='text' id='time' name='time' class='form-control' value='" + time + "'>");
                $(obj).parent("td").parent("tr").find(".address").html("<input type='text' id='address' name='address' class='form-control' value='" + address + "' onblur='getFee(this)'>");
                $(obj).parent("td").parent("tr").find(".toName").html("<input type='text' id='toName' name='toName' class='form-control' value='" + toName + "'>");
                $(obj).parent("td").parent("tr").find(".toTel").html("<input type='text' id='toTel' name='toTel' class='form-control' value='" + toTel + "'>");
                $(obj).parent("td").parent("tr").find(".itemName").html("<input type='text' id='itemName' name='itemName' class='form-control' value='" + itemName + "'>");
                $(obj).parent("td").parent("tr").find(".memo").html("<input type='text' id='memo' name='memo' class='form-control' value='" + memo + "'>");
                $(obj).parent("td").parent("tr").find(".orderCompanyName").html("<input type='text' id='orderCompanyName' name='orderCompanyName' class='form-control' value='" + orderCompanyName + "' onblur='getTel(this)'>");
                $(obj).parent("td").parent("tr").find(".orderCompanyTel").html("<input type='text' id='orderCompanyTel' name='orderCompanyTel' class='form-control' value='" + orderCompanyTel + "'>");
                $(obj).parent("td").parent("tr").find(".price").html("<input type='text' id='price' name='price' class='form-control' value='" + price + "'>");
                $(obj).parent("td").parent("tr").find(".dispatchNo").html("<input type='text' id='dispatchNo' name='dispatchNo' class='form-control' value='" + dispatchNo + "'>");
                $(obj).parent("td").parent("tr").find(".deliveryCompanyName").html(deliveryCompanies);
                $(obj).parent("td").parent("tr").find(".receipt").attr("disabled", true);
                $(obj).parent("td").html("<input type='button' class='btn btn-secondary update' value='확인' style='margin-right:3px;'><input type='button' class='btn btn-danger' value='삭제' onclick='deleteBoard(this)'>");
                $(".update").click(function () {
                    if (confirm("해당 데이터를 수정하시겠습니까 ?")) {
                        let html = $(".tbl-cont.on");
                        let jsonArray = [];
                        for (const htmlElement of html) {
                            let obj = {};
                            obj.id = $(htmlElement).find(".no").attr("id");
                            obj.date = $(htmlElement).find("#date").val();
                            obj.time = $(htmlElement).find("#time").val();
                            obj.address = $(htmlElement).find("#address").val();
                            obj.toName = $(htmlElement).find("#toName").val();
                            obj.toTel = $(htmlElement).find("#toTel").val();
                            obj.itemName = $(htmlElement).find("#itemName").val();
                            obj.memo = $(htmlElement).find("#memo").val();
                            obj.orderCompanyName = $(htmlElement).find("#orderCompanyName").val();
                            obj.orderCompanyTel = $(htmlElement).find("#orderCompanyTel").val();
                            obj.price = $(htmlElement).find("#price").val();
                            obj.dispatchNo = $(htmlElement).find("#dispatchNo").val();
                            obj.deliveryCompanyName = $(htmlElement).find("#deliveryCompanies option:selected").html() !== undefined ? $(htmlElement).find("#deliveryCompanies option:selected").html() : $(htmlElement).find("#deliveryCompanies").val();
                            obj.areaName = $(htmlElement).find("input[name=areaName]").val();
                            obj.price = Number($(htmlElement).find("input[name=price]").val());
                            jsonArray.push(obj);
                        }
                        let callback = function (data) {
                            if (data.resultCode == "0000") {
                                alert(data.resultMessage);
                                location.href = "/deliveries";
                            } else {
                                alert(data.resultMessage);
                            }
                        }
                        doPost("/deliveries/edit", jsonArray, callback);
                    } else {
                        return false;
                    }
                });
            }
            function deleteBoard(obj) {
                let id = $(obj).parent("td").parent("tr").find(".no").prop("id");
                if (confirm("해당 데이터를 삭제하시겠습니까 ?")) {
                    let obj = {};
                    obj.id = id;
                    let callback = function (data) {
                        if (data.resultCode == "0000") {
                            alert(data.resultMessage);
                            location.href = "/deliveries";
                        } else {
                            alert(data.resultMessage);
                        }
                    }
                    doPost("/deliveries/delete", obj, callback);
                } else {
                    return false;
                }
            }
            function getFee(obj) {
                let address = $(obj).parent("td").parent("tr").find("#address").val();
                let deliveryCompanyId = $(obj).parent("td").parent("tr").find("#deliveryCompanies option:selected").val() === undefined ? "0" : $(obj).parent("td").parent("tr").find("#deliveryCompanies option:selected").val();

                // 주소가 입력되지 않은 경우
                if (address === "") {
                    $(obj).parent("td").parent("tr").find("#price").val("0");
                    return false;
                }
                let json = {
                    address: address,
                    id: deliveryCompanyId
                }
                let callback = function (data) {
                    if (data.resultCode == "0000") {
                        let price = data.data.price;
                        $(obj).parent("td").parent("tr").find("#price").val(price);
                    } else {
                        alert(data.resultMessage);
                    }
                }
                doPost("/deliveries/getFee", json, callback);
            }
            function getTel(obj) {
                let name = $(obj).parent("td").parent("tr").find("#orderCompanyName").val();
                // 발주업체가 입력되지 않은 경우
                if (name === "") {
                    return false;
                }
                let json = {
                    name: name
                }
                let callback = function (data) {
                    if (data.resultCode == "0000") {
                        let tel = data.data.tel;
                        $(obj).parent("td").parent("tr").find("#orderCompanyTel").val(tel);
                    } else {
                        alert(data.resultMessage);
                    }
                }
                doPost("/deliveries/getTel", json, callback);
            }
            function receipt(obj) {
                var deliveryId = $(obj).parent("td").parent("tr").find(".no").prop("id");
                var url = "/deliveries/" + deliveryId + "/receipt";
                window.open(url, '_receipt', 'width=1000,height=1000');
            }
            function excelDown(id) {
                var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
                tab_text += '<head><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">';
                tab_text += '<xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>'
                tab_text += '<x:Name>신호플라워 배달관리</x:Name>';
                tab_text += '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
                tab_text += '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
                tab_text += "<table border='1px'>";
                var exportTable = $('#' + id).clone();
                exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
                tab_text = tab_text + exportTable.html();
                tab_text = tab_text + '</table></body></html>';
                var data_type = 'data:application/vnd.ms-excel';
                var ua = window.navigator.userAgent;
                var msie = ua.indexOf("MSIE ");
                var fileName = '신호플라워배달관리.xls';
                //Explorer 환경에서 다운로드
                if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                    if (window.navigator.msSaveBlob) {
                        var blob = new Blob([tab_text], {
                            type: "application/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, fileName);
                    }
                } else {
                    var blob2 = new Blob([tab_text], {
                        type: "application/csv;charset=utf-8;"
                    });
                    var filename = fileName;
                    var elem = window.document.createElement('a');
                    elem.href = window.URL.createObjectURL(blob2);
                    elem.download = filename;
                    document.body.appendChild(elem);
                    elem.click();
                    document.body.removeChild(elem);
                }
            }
            function excelUp(event) {
                var input = event.target;
                var reader = new FileReader();
                reader.onload = function () {
                    var fileData = reader.result;
                    var wb = XLSX.read(fileData, {type: 'binary'});
                    wb.SheetNames.forEach(function (item) {
                        var rowObj = XLSX.utils.sheet_to_json(wb.Sheets[item]);
                        var array = [];
                        for (const obj of rowObj) {
                            array.push({
                                date: obj.배송일자,
                                time: obj.배송시간,
                                address: obj.주소,
                                toTel: obj.받는분전화,
                                toName: obj.받는분,
                                itemName: obj.상품명,
                                memo: obj.리본문구,
                                orderCompanyName: obj.발주업체,
                                orderCompanyTel: obj.발주업체전화,
                                deliveryCompanyName: obj.배송업체,
                                price: Number(obj.배송비),
                                dispatchNo: obj.배차번호
                            })
                        }
                        let callback = function (data) {
                            if (data.resultCode == "0000") {
                                alert(data.resultMessage);
                                location.href = "/deliveries";
                            } else {
                                alert(data.resultMessage);
                            }
                            $("input[type=file]").val();
                        }
                        doPost("/deliveries/new", array, callback);
                    })
                };
                reader.readAsBinaryString(input.files[0]);
            }
            function goMap() {
                let url = "/deliveries/map";
                window.open(url, '_map', 'width=1100,height=1000');
            }
        </script>
    </div>
</main>
</body>
</html>