<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="loginHeader(name, role)">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>신호플라워</b> 배달관리</a>
            <ul class="navbar-nav mb-2 mb-md-0 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link fw-bold text-white" disabled th:text="${name} + ' 님'"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deliveries">배달관리</a>
                </li>
                <li class="nav-item" th:if="${role == 'ROLE_ADMIN'}">
                    <a class="nav-link" href="/orderCompanies">발주업체관리</a>
                </li>
                <li class="nav-item" th:if="${role == 'ROLE_ADMIN'}">
                    <a class="nav-link" href="/deliveryCompanies">배송업체관리</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</html>