.fieldError {
    border-color: #bd2130;
}
main > .container {
    padding: 60px 15px 0;
}
.main-logo {
    text-align: center;
}
.main-wrap {
    width: 1600px;
    margin: 0 auto;
    padding: 60px 15px 0;
}
.sub-wrap {
    width: 900px;
    margin: 0 auto;
    padding: 60px 15px 0;
}
table th {
    font-size: 14px;
}
table td, table tbody input {
    font-size: 12px !important;
}
table th, table td {
    padding: 15px 5px !important;
    vertical-align: middle;
    font-weight: bold;
}
select {
    font-size: 12px !important;
}
table td select {
    width: 90%;
    margin: 0 auto;
}
.btn-group input[type=file] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

