<!DOCTYPE HTML>
<html lang="ko" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: config"/>
<body class="d-flex flex-column h-100">
<header th:replace="fragments/mainHeader :: mainHeader"/>
<main class="flex-shrink-0">
    <div class="container h-100">
        <div class="row h-100 mt-5">
            <div class="col-6 mx-auto">
                <h1>신호플라워</h1>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>