<!DOCTYPE HTML>
<html lang="ko" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: config"></head>
<body class="d-flex flex-column h-100">
<header th:replace="fragments/loginHeader :: loginHeader(${member.getName()}, ${member.getRole().name()})"></header>
<main class="flex-shrink-0">
    <div class="sub-wrap h-100 mt-3">
        <div>
            <h2>배송비 리스트</h2>
            <div class="row justify-content-end mb-2">
                <div class="col-2 btn-group">
                    <button type="button" class="btn btn-dark" th:onclick="|location.href='@{deliveryFees/new}'|">등록하기</button>
                </div>
            </div>
        </div>
        <table class="table text-center">
            <thead>
            <tr>
                <th width="10%">순번</th>
                <th width="30%">업체명</th>
                <th width="30%">지역명</th>
                <th width="15%">가격</th>
                <th width="15%">처리</th>
            </tr>
            </thead>
            <tbody>
            <tr class="tbl-cont" th:each="deliveryFee, index : ${deliveryFees}">
                <td class="id" th:id="${deliveryFee.getId()}" th:text="${index.index + 1}"></td>
                <td class="name" th:text="${deliveryFee.deliveryCompany.name}"></td>
                <td class="areaName" th:text="${deliveryFee.areaName}"></td>
                <td class="price" th:text="${deliveryFee.price}"></td>
                <td class="process">
                    <select id="deliveryCompanies" name="deliveryCompanies" class="form-select" hidden>
                        <option th:each="deliveryCompany : ${deliveryCompanies}"
                                th:value="${deliveryCompany.getId()}"
                                th:text="${deliveryCompany.getName()}"
                                th:selected="${deliveryFee.deliveryCompany.name} == ${deliveryCompany.name}"></option>
                    </select>
                    <input type="button" class="btn btn-primary" value="수정" onclick="updateBoard(this)">
                    <input type="button" class="btn btn-danger" value="삭제" onclick="deleteBoard(this)">
                </td>
            </tr>
            </tbody>
        </table>
        <script th:inline="javascript">
            function updateBoard(obj)  {
                let areaName = $(obj).parent("td").parent("tr").find(".areaName").html();
                let price = $(obj).parent("td").parent("tr").find(".price").html();
                let deliveryCompanies = $(obj).parent("td").find("#deliveryCompanies");
                deliveryCompanies.prop("hidden", false);

                $(obj).parent("td").parent("tr").parent("tbody").find(".tbl-cont.on").find(".process").html("");
                $(obj).parent("td").parent("tr").addClass("on");
                $(obj).parent("td").parent("tr").find(".name").html(deliveryCompanies);
                $(obj).parent("td").parent("tr").find(".areaName").html("<input type='text' id='areaName' name='areaName' class='form-control' value='" + areaName + "' style='width:90%;margin:0 auto;'>");
                $(obj).parent("td").parent("tr").find(".price").html("<input type='text' id='price' name='price' class='form-control' value='" + price + "' style='width:90%;margin:0 auto;'>");
                $(obj).parent("td").html("<input type='button' class='btn btn-secondary update' value='확인'>")
                $(".update").click(function () {
                    if (confirm("해당 데이터를 수정하시겠습니까 ?")) {
                        let html = $(".tbl-cont.on");
                        let jsonArray = [];
                        for (const htmlElement of html) {
                            let obj = {};
                            obj.id = $(htmlElement).find(".id").attr("id");
                            obj.deliveryCompanyDto = {
                                id: $(htmlElement).find("#deliveryCompanies option:selected").val(),
                                name: $(htmlElement).find("#deliveryCompanies option:selected").html()
                            }
                            obj.areaName = $(htmlElement).find("input[name=areaName]").val();
                            obj.price = $(htmlElement).find("input[name=price]").val();

                            if (obj.areaName === "" || obj.price === "") {
                                alert("입력란을 모두 작성해주세요.");
                                return false;
                            }
                            jsonArray.push(obj);
                        }
                        let msg = JSON.stringify(jsonArray);
                        console.log(msg);
                        let callback = function (data) {
                            if (data.resultCode == "0000") {
                                alert(data.resultMessage);
                                location.href = "/deliveryFees";
                            } else {
                                alert(data.resultMessage);
                            }
                        }
                        doPost("/deliveryFees/edit", msg, callback);
                    } else {
                        return false;
                    }
                });
            }
            function deleteBoard(obj) {
                let id = $(obj).parent("td").parent("tr").find(".id").prop("id");
                if (confirm("해당 데이터를 삭제하시겠습니까 ?")) {
                    let obj = {};
                    obj.id = id;
                    let msg = JSON.stringify(obj);

                    let callback = function (data) {
                        if (data.resultCode == "0000") {
                            alert(data.resultMessage);
                            location.href = "/deliveryFees";
                        } else {
                            alert(data.resultMessage);
                        }
                    }
                    doPost("/deliveryFees/delete", msg, callback);
                } else {
                    return false;
                }
            }
        </script>
    </div>
</main>
</body>
</html>